.list-map-basics {
  /*
  list-map-keys, list-map-values
  */
  expected: '(alpha, beta, gamma)';
  received: list-map-inspect(list-map-keys(( alpha 1, beta 2, gamma 3 )));
  expected: '(1, 2, 3)';
  received: list-map-inspect(list-map-values(( alpha 1, beta 2, gamma 3 )));
  /*
  list-map-has-key
  */
  expected: '(false)';
  received: list-map-inspect(list-map-has-key(( alpha 1, beta 2, gamma 3 ), delta));
  expected: '(true)';
  received: list-map-inspect(list-map-has-key(( alpha 1, beta 2, gamma 3 ), gamma));
  /*
  list-map-get
  */
  expected: '(1)';
  received: list-map-inspect(list-map-get(( alpha 1, beta 2, gamma 3 ), alpha));
  expected: '(2)';
  received: list-map-inspect(list-map-get(( alpha 1, beta 2, gamma 3 ), beta));
  expected: '(3)';
  received: list-map-inspect(list-map-get(( alpha 1, beta 2, gamma 3 ), gamma));
  /*
  list-map-remove
  */
  expected: '(beta 2, gamma 3)';
  received: list-map-inspect(list-map-remove(( alpha 1, beta 2, gamma 3 ), alpha));
  /*
  list-map-merge
  */
  expected: '(alpha 4, beta 2, gamma 3)';
  received: list-map-inspect(list-map-merge(( alpha 1, beta 2, gamma 3 ), (alpha 4)));
  expected: '(alpha 1, beta 4, gamma 3)';
  received: list-map-inspect(list-map-merge(( alpha 1, beta 2, gamma 3 ), (beta 4)));
  expected: '(alpha 1, beta 2, gamma 4)';
  received: list-map-inspect(list-map-merge(( alpha 1, beta 2, gamma 3 ), (gamma 4)));
  expected: '(alpha 1, beta 2, gamma 3, delta 4)';
  received: list-map-inspect(list-map-merge(( alpha 1, beta 2, gamma 3 ), (delta 4)));
}