.map-pick {
  /* ERROR if $map is not a map */
  expect: "ERROR: argument `$map` of map-pick($map, $keys...) must be a map";
  result: '"ERROR: argument `$map` of map-pick($map, $keys...) must be a map"';
  result: '"ERROR: argument `$map` of map-pick($map, $keys...) must be a map"';
  /* @return empty map if...
    - $map is empty
    - no $keys found
    - length($keys) == 0
  */
  expect: "()";
  result: "()";
  result: "()";
  result: "()";
  /* @return new map with only found $keys included */
  expect: "(beta: 2)";
  result: "(beta: 2)";
  expect: "(beta: 2, gamma: 3)";
  result: "(beta: 2, gamma: 3)";
}