.map-get {
  /* @return null when $map is empty map/list */
  expect: "null";
  result: "null";
  /* @return null when $key is not found at any level */
  result: "null";
  result: "null";
  /* ERROR when $map is not a map */
  expect: "ERROR: argument `$map` of `map-get($map, $keys...)` must be a map";
  result: "ERROR: argument `$map` of `map-get($map, $keys...)` must be a map";
  /* ERROR when no $keys... provided */
  expect: "ERROR: function `map-get($map, $keys...)` is missing rest-argument `$keys`";
  result: "ERROR: function `map-get($map, $keys...)` is missing rest-argument `$keys`";
  /* @return value at $keys... path */
  expect: "(beta: (gamma: 3, delta: 4), epsilon: 5)";
  result: "(beta: (gamma: 3, delta: 4), epsilon: 5)";
  expect: "(gamma: 3, delta: 4)";
  result: "(gamma: 3, delta: 4)";
  expect: "3";
  result: "3";
  result: "3";
}
