html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
  background: transparent; }

*, *:before, *:after {
  vertical-align: baseline;
  box-sizing: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  text-decoration: none;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.25;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video, img, svg, iframe, form, object, table, picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none; }
  audio.inline, canvas.inline, progress.inline, video.inline, img.inline, svg.inline, iframe.inline, form.inline, object.inline, table.inline, picture.inline {
    display: inline-block;
    vertical-align: baseline; }

img {
  border-style: none; }

svg {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit; }
  svg:not(:root) {
    overflow: hidden; }
  svg.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    margin-right: 0.75em;
    position: relative;
    top: calc((1ex - 1em)/4); }

audio:not([controls]) {
  display: none;
  height: 0; }

template,
[hidden] {
  display: none; }

figure {
  margin: 1em 40px; }

hr {
  display: block;
  height: 0;
  box-sizing: content-box;
  overflow: visible;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0; }

iframe {
  frameborder: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }
  a.block {
    display: block; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title], dfn[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

ins {
  background-color: #ff0;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

del {
  text-decoration: line-through; }

input, select {
  vertical-align: middle; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.l-grid, [class^="l-grid--"], [class*=" l-grid--"] {
  display: block;
  position: relative; }
  .l-grid:after, [class^="l-grid--"]:after, [class*=" l-grid--"]:after {
    content: "";
    display: table;
    clear: both; }
  .l-grid > *, [class^="l-grid--"] > *, [class*=" l-grid--"] > * {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    background-clip: content-box; }

.l-fgrid, [class^="l-fgrid--"], [class*=" l-fgrid--"] {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .l-fgrid > *, [class^="l-fgrid--"] > *, [class*=" l-fgrid--"] > * {
    flex: 1 1 auto;
    width: 0%;
    background-clip: content-box;
    min-width: 0%; }

.l-grid--null,
.l-fgrid--null {
  margin-right: 0;
  margin-left: 0;
  width: 100%; }
  .l-grid--null > *,
  .l-fgrid--null > * {
    padding-right: 0;
    padding-left: 0; }

.l-grid,
.l-fgrid {
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem); }
  .l-grid > *,
  .l-fgrid > * {
    padding-left: 1rem;
    padding-right: 1rem; }

.l-stack, [class^="l-stack--"], [class*=" l-stack--"] {
  padding-top: 0.1px;
  padding-bottom: 0.1px; }
  .l-stack > *, [class^="l-stack--"] > *, [class*=" l-stack--"] > * {
    margin-top: 0;
    margin-bottom: 0; }

.l-stack > * + * {
  margin-top: 2rem; }

.l-wrap, [class^="l-wrap--"], [class*=" l-wrap--"] {
  margin-right: auto;
  margin-left: auto; }

.l-wrap--left {
  margin-left: 0; }

.l-wrap--right {
  margin-right: 0; }

@media screen and (min-width: 28em) {
  .l-wrap--each,
  .l-wrap--c4 {
    max-width: 24rem; } }

@media screen and (min-width: 41em) {
  .l-wrap--each,
  .l-wrap--c6 {
    max-width: 37rem; } }

@media screen and (min-width: 54em) {
  .l-wrap--each,
  .l-wrap--c8 {
    max-width: 50rem; } }

@media screen and (min-width: 67em) {
  .l-wrap--each,
  .l-wrap--c10 {
    max-width: 63rem; } }

@media screen and (min-width: 80em) {
  .l-wrap--each,
  .l-wrap--c12 {
    max-width: 76rem; } }

.l-unwrap {
  margin-right: 0;
  margin-left: 0;
  max-width: none;
  width: 100vw; }

.l-unwrap--right {
  width: calc(100vw + (((100% - 100vw) + (2rem - 2rem)) / 2)); }

.l-unwrap--left {
  width: calc(100vw + (((100% - 100vw) - (2rem - 2rem)) / 2)); }

.l-unwrap, .l-unwrap--right {
  margin-right: calc(((100% - 100vw) - (2rem - 2rem)) / 2); }

.l-unwrap, .l-unwrap--left {
  margin-left: calc(((100% - 100vw) + (2rem - 2rem)) / 2); }

.l-unwrap--from-right, .l-unwrap--from-right.l-unwrap--right {
  margin-right: -2rem; }

.l-unwrap--from-right, .l-unwrap--from-right.l-unwrap--left {
  margin-left: calc((100% - 100vw) + 2rem); }

.l-unwrap--from-right.l-unwrap--right {
  width: calc(100% + 2rem);
  margin-left: 0; }

.l-unwrap--from-right.l-unwrap--left {
  width: calc(100vw - 2rem);
  margin-right: 0; }

.l-unwrap--from-left, .l-unwrap--from-left.l-unwrap--right {
  margin-right: calc((100% - 100vw) + 2rem); }

.l-unwrap--from-left, .l-unwrap--from-left.l-unwrap--left {
  margin-left: -2rem; }

.l-unwrap--from-left.l-unwrap--right {
  width: calc(100vw - 2rem);
  margin-left: 0; }

.l-unwrap--from-left.l-unwrap--left {
  width: calc(100% + 2rem);
  margin-right: 0; }

.l-typo {
  line-height: 1.5;
  font-size: 1rem; }
  .stack .l-typo {
    font-size: 1em; }
  .stack > .l-typo {
    margin-top: calc(0rem - 0.25em);
    margin-bottom: calc(0rem - 0.25em); }
  .stack > * + .l-typo {
    margin-top: calc(2rem - ((1.5em - 1ex) / 2)); }
