@import '../../index';

@function slice($list, $start: 1, $end: length($list), $sep: list-separator($list)) {
  $output: ();
  @if $start >= 1 and $end >= $start {
    @for $i from $start through $end {
      $output: append($output, nth($list, $i), $sep);
    }
  }
  // @return if(length($output)==1,nth($output,1),$output);
  @return $output;
}

@function combination-set($list) {
  $result: ((),);
  @for $i from 1 through length($list) {
    @for $j from 1 through length($result) {
      $result: append($result, (join(nth($result, $j), nth($list, $i))));
    }
  }
  @return slice($result, 2);
}

$list: a b c d e f g;
.test {
  combos: inspect(combination-set($list));
  sorted: inspect(_sort-by(combination-set($list), 'length'));
}