@import '../dist/ln-sass';

$base: (
  lines: (s: 0.8, l: 1.6),
  sizes: (s: 0.8, l: 1.6),
  mults-x: (s: 0.8, l: 1.6),
  mults-y: (s: 0.8, l: 1.6),
);


@include media-setup();
@include layout-setup();
@include typo-setup();

///////////
// TESTS //
///////////

.helper {
  ex-margin: inspect(typo-margin-ex(s));
}

/* stack */
.stack-test {
  @include stack();
}

/* root-typo */
.root-typo-test {
  @include typel(2);
}

/* stack -> nested-typo */
.stack-test-big {
  @include stack(3) {
    .nested-typo-test {
      @include typel(2);
    }
    .nested-typo-test2 {
      @include typel(1.5,1.5);
    }
  }
}

/* context-typo */
.typo-context {
  .context-typo-test {
    @include typel(2);
  }
  .context-typo-test2 {
    @include typel(1.5,1.5);
  }
}

/* example */
.tldr-text {
  @include stack() {
    p {
      @include typel() {
        @include adjacent-to(h4) {
          margin-top: typo-margin(1.5);
        }
      }
    }
    h4 {
      font-weight: bold;
      @include typel(1.25, 0.9) {
        @include adjacent-to(p) {
          margin-top: typo-margin(3);
        }
      }
    }
  }
}

/* example */
.other-text {
  p {
    @include typel() {
      @include adjacent-to(h4) {
        margin-top: typo-margin(1.5);
      }
    }
  }
  h4 {
    font-weight: bold;
    @include typel(1.25, 0.9) {
      @include adjacent-to(p) {
        margin-top: typo-margin(3);
      }
    }
  }
}

