@import '../../index';

$media: (
  c4a: (
    type-columns: 4,
    grid-columns: 4,
  ),
  c4b: (
    font-size: 16px,
    line-height: 1.6,
    margin-x: 2rem,
    type-width: 32rem,
  ),
  c4c: (
    font-size: 18px,
    outer-right: 2rem,
    outer-left: 2rem,
  ),
  c6: (
    grid-columns: 6,
    // outer-right: 2rem,
    // outer-left: 2rem,
  ),
  c8: (
    grid-columns: 8,
  ),
  // c10: (
  //   grid-columns: 10,
  // ),
  // c12: (
  //   grid-columns: 12,
  // ),
);

@include init-media(true,true);

.media-helper-test {
  size-media: inspect(media-for(font-size));
  margin-y-media: inspect(media-for(margin-y line-height));
  typo-media: inspect(media-for(typo));
  @include media-for(margin-y line-height) {
    color: red;
  }
  @include media-for(margin-x) {
    color: blue;
  }
}

.empty-test {
  @include margin(1 null);
  @include padding(1 null);
  margin-top: t-margin(1);
  margin-bottom: t-margin(1, em);
  // @include media-each() {
  //   color: green;
  // }
  // @include media-each(()) {
  //   color: green;
  // }
}

/* #{map-inspect($media)} */