@import '../../index';

$media: (
  a: (breakpoint: 32em),
  b: (
    breakpoint: 48em,
    font-size: 20px
  ),
  c: (breakpoint: 64em),
  d: (breakpoint: 80em),
);

@include init-media(false);

.test {
  out: media-prop-group(font-size line-height);
  out: media-prop-group(font-size line-height);
  out: media-for(font-size line-height);
  out: media-for(font-size, line-height);
}

/* #{map-inspect($media)} */